@model DeliveryPersonVM

<style>
    .form-control[disabled] {
        background-color: #f0f0f0 !important;
        color: #495057 !important;
    }
</style>

<div class="card shadow border-0 mt-4 mb-5">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Accept Order</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4 mx-3">
        <form method="post" class="row">
            <div class="border p-3 mt-2">
                <input asp-for="OrderID" hidden />
                <div class="mb-3">
                    <label asp-for="OrderID" class="p-0"></label>
                    <input asp-for="OrderID" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label asp-for="CustomerName" class="p-0"></label>
                    <input asp-for="CustomerName" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label asp-for="ProductName" class="p-0"></label>
                    <input asp-for="ProductName" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label asp-for="CompanyName" class="p-0"></label>
                    <input asp-for="CompanyName" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label asp-for="Quantity" class="p-0"></label>
                    <input asp-for="Quantity" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label asp-for="TotalPrice" class="p-0"></label>
                    <input asp-for="TotalPrice" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label asp-for="ShippingAddress"></label>
                    <input asp-for="ShippingAddress" class="form-control" disabled />
                </div>
                <button type="submit" class="btn btn-primary mx-2" style="width:200px">Accept for Delivery</button>
                <a asp-controller="DeliveryPerson" asp-action="FindDeliveryOrder" class="btn btn-secondary mx-2" style="width:150px">
                    Back
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}