@model List<WareHouse>
<partial name="_Notification" />

<div class="card shadow border-0 mt-4 my-2">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">WareHouse List</h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <div class="custom-select-container">
                    <a asp-controller="Admin" asp-action="AddWareHouse" class="btn btn-primary mt-1 me-3">
                        <i class="bi bi-plus-circle"></i>  Create New WareHouse
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <table id="tblData" class="table table-bordered table-striped custom-table" style="width:100%;">
                        <thead>
                            <tr>
                                <th style="width:10%;">WareHouseId</th>
                                <th style="width:37%;">WareHouse Name</th>
                                <th style="width:37%;">WareHoouse Address</th>
                                <th style="width:16%;"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Admin/warehouselist.js"></script>
}

